FHGHQ_URL="https://hq.mreboy.com"
STEAMAPI_KEY="API KEY STRING GOES HERE"
IMAGESOURCE_IMG="https://raw.githubusercontent.com/WitCanStain/Callahan.com/a402c4135178580ba204bda67a44dda9fa644d5f"
IMAGESOURCE_MAP_TILES="https://raw.githubusercontent.com/WitCanStain/Callahan.com/a402c4135178580ba204bda67a44dda9fa644d5f"
