# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/src/webpack
/src/bundle.js
.pnp.js
helm/charts
# misc
.data
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*-lock


.nvmrc
src/components/global/main/map/baselayers - Copy.js
dbfunctions - Copy.js
src/_static/region-images - Copy.js
warapi - Copy.js
src/components/global/main/map/controls/RegionPan - Copy.js
.htaccess
src/components/global/main/map/panel/filter-panel - Copy.js
src/components/global/main/map/panel/mapicons - Copy.js
src/_static/markers - Copy.js
src/redux/display/reducer - Copy.js
DropdownIconsArray.js
