<!doctype html>
<html lang="en">
    <head>
        <title>Foxhole Global HQ - Authorization</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            id="favicon"
            rel="icon"
            href="/img/glitch/logoWarden64.png"
            type="image/png"
        />
        <link
            rel="stylesheet"
            href="/_static/bootstrap/4.1.3/bootstrap.min.css"
        />
        <script src="/_static/jquery/3.3.1/jquery.min.js"></script>
        <script src="/_static/popper.js/1.14.3/popper.min.js"></script>
        <script src="/_static/bootstrap/4.1.3/bootstrap.min.js"></script>
        <script src="/_static/react/16/react.development.js"></script>
        <script src="/_static/react-dom/16/react-dom.development.js"></script>
        <link rel="stylesheet" href="/_styles/style.css" />
        <link rel="stylesheet" href="/_styles/auth.css" />
    </head>
    <body>
        <div style="text-align: center"></div>
        <div class="container" id="root"></div>
    </body>
    <script type="text/javascript" src="/webpack/auth.js"></script>
</html>
