<!doctype html>
<html lang="en">
    <head>
        <title>Foxhole Global HQ - Room Access Request</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            id="favicon"
            rel="icon"
            href="/img/glitch/logoWarden64.png"
            type="image/png"
        />
        <link
            rel="stylesheet"
            href="/_static/bootstrap/4.1.3/bootstrap.min.css"
        />
        <script src="/_static/jquery/3.3.1/jquery.min.js"></script>
        <script src="/_static/popper.js/1.14.3/popper.min.js"></script>
        <script src="/_static/bootstrap/4.1.3/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/_styles/request.css" />
        <link rel="stylesheet" href="/_styles/style.css" />
    </head>
    <body>
        <div class="container" id="container"></div>
    </body>
    <script type="text/javascript" src="/webpack/request.js"></script>
</html>
